body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

/* modification */

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333; /* Set the desired text color */
}

.navbar-brand img {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.custom-button {
  background-color: white;
  color: #ED6C4E; /* Initial text color */
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #ED6C4E; /* Background color on hover */
  color: white; /* Text color on hover */
}

/* styles.css */
.custom-navbar {
  position: fixed; /* Set navbar to fixed position */
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    box-shadow: transparent;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
  
}
.hamburger-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #ED6C4E; /* Set the color of the hamburger icon */
  font-size: 24px;
}

.logo img {
  max-width: 50px; /* Ajuster la largeur du logo */
  height: auto;
}



.bar {
  width: 30px;
  height: 2px;
  background-color: #333;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}


/* Add styles for sidebar header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.logo img {
  max-width: 60px;
  height: auto;
}

.close-button .close-icon {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close-button .close-icon:hover {
  color: #f06292;
}


/* Add styles for sidebar content */
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f06292;
}

/* Add styles for sidebar footer */
.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}

/* Override the default icon color */
.social-icon i {
  color: #ED6C4E;
}

.social-icon i:hover {
  color: white;
}


.project-button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  color: #ED6C4E;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}

.project-button:hover {
  background-color: #ED6C4E;
  color: white;
}

/* Styles pour la séparation */
.separator {
  width: 1px;
  height: 24px; /* Hauteur de la séparation */
 
  margin: 0 10px; /* Espace à gauche et à droite */
}



.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.image-container a {
  margin-top: 10px;
  color: #ED6C4E;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.image-container a:hover {
  color: #f06292;
}
